.myfor{
    width: 80%;
    height: 100%;
    margin-left: 160px;
}
.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
  }
  .form-control.ng-touched.ng-valid {
    border: 2px solid green;
  }